[submodule "permit/lib/forge-std"]
	path = permit/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "permit/lib/openzeppelin-contracts"]
	path = permit/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "factory/lib/forge-std"]
	path = factory/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "factory/lib/openzeppelin-contracts"]
	path = factory/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
